@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --pink: #e5345b;
}


/* navbar */
.navbar{
    -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.navbar-brand img{
    width: 30px;
}
.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--lg-font);
}
.nav-link:hover{
    color: var(--pink)!important;
}
.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

body{
    background: bisque;
    font-family: var(--sm-font);
    height: 100%;
}
.section-padding{
    padding: 100px 0;
}

.container h1{
    padding-top: 100px;
}



img:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

/* footer */
footer .brand{
    font-family: var(--lg-font);
    letter-spacing: 2px;
}
footer a{
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
footer a:hover{
    color: var(--pink)!important;
}


/*responsive css === */
@media only screen and (min-width: 768px) and (max-width: 991px){
 .card{
    margin-bottom: 30px;
 }
}

@media only screen and (max-width: 767px){
    
    .carousel-caption{
        bottom: 125px;
    
    }


}




 